body {
  margin: 1em;
}

.userList {
  border-collapse: collapse;
  margin-top: 1em;
}

.userList th,
.userList td {
  text-align: left;
  border: 1px solid black;
  padding: 2px 8px;
}

.online {
  background-color: lightgreen;
}

.offline {
  background-color: lightcoral;
}
